{% extends "base.html" %}

{% block content %}

<div>
    <h1>My Projects</h1>
    <a href="{% url 'create_project' %}">Create Project</a>
    {% if projects %}
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Number of tasks</th>
                <th>Photo</th>
            </tr>
        </thead>
        <tbody>
            {% for project in projects %}
            <tr>
                <td><a href="{% url 'show_project' project.id %}">{{ project.name }}</a></td>
                <td>{{ project.tasks.all|length }}</td>
                {% with random_seed=project.id %}
                <td><img src="https://picsum.photos/200?random={{ random_seed }}" alt="random image"></td>
                {% endwith %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>You are not assigned to any projects</p>
    {% endif %}
</div>

{% endblock content %}
