            {% if quotes %}
                {% with random_quote=quotes|random %}
                    <p>{{ random_quote.text }}</p>
                    <footer>{{ random_quote.author }}</footer>
                {% endwith %}
            {% else %}
                <p>“If you want to live a happy life, tie it to a goal, not to people or things."</p>
                <p>Albert Einstein</p>
            {% endif %}
